<!--Création d'un menu de base avec une condition ternaire au lieu d'une fonction pour tous-->
  <ul>
    <!--Condition ternaire pour changer la couleur selon si on selectionne HOME, 
      normalement il faut faire une fonction // il faut le faire pour 2 li minimum 
      sinon ca reste rouge dans le localhost 4200-->
      <!--On a créé dans le .ts, une variable selectedMenu = 'home'-->


    <li [style.color]="appService.selectedMenu == 'home' ?'red' : 'black'"  
        (click)= "selectMenu('home')">Home</li>

    <li [style.color]="appService.selectedMenu == 'skills' ?'red' : 'black'"  
        (click)= "selectMenu('skills')">Skills</li>

    <li [style.color]="appService.selectedMenu == 'xp' ?'red' : 'black'"  
        (click)= "selectMenu('xp')">Experiences</li>

    <li [style.color]="appService.selectedMenu == 'contact' ?'red' : 'black'"  
        (click)= "selectMenu('contact')">Contact</li> 



        <!--Ici j'ai ajouté un <a href pour l'avoir en lien souligné 
        // il existe un moyen de ne pas recharger la page quand on click dessus 
        en ajoutant, après le href (click)="$event.prevent.default"-->

        <!-- <li [style.color]="appService.selectedMenu == 'contact' ?'red' : 'black'"  
        (click)= "selectMenu('contact')"><a href="" (click)="$event.prevent.default()">Contact</a></li>  -->
  </ul>

  <ul>
    <li *ngFor="let fruit of listeFruit" (click) = "selectMenu(fruit)" [style.color]="changeColor(fruit)">{{fruit}}</li>
  </ul>
  